/* ContactStyles.css */
.social-links {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	margin-top: 1rem;
}
.social-links a {
	color: #445e6c;
	font-size: 1.8rem;
	transition: color 0.2s;
}
.social-links a:hover {
	color: #6d899d;
}
